<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <!-- <link rel="stylesheet" href="assets/fonts/iconfont.css"> -->
    <!-- 测试方便使用，正式上线需要下载字体文件使用 -->
    <link rel="stylesheet" href="//at.alicdn.com/t/c/font_1879134_hf72r0ggspj.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/<%=style%>.css">
</head>
<body>
    <div class="header-container">
        <div class="row navbar">
            <div class="col-3 navbar-left">
                <a href="/" class="logo">
                    <img src="assets/images/logo.png" alt="">
                </a>                
            </div>
            <div class="col-9 navbar-right">
                <ul class="row navbar-menu">
                    <li class="col-3 menu-item">
                        <input class="search-input" type="text" placeholder="搜索">
                    </li>
                    <li class="col-2 menu-item"><a href="/article" class="link">精选文章</a></li>
                    <li class="col-2 menu-item"><a href="/resources" class="link">资源</a></li>
                    <li class="col-3 menu-item">
                        <div class="login-btns">
                            <a href="#" class="btn btn-default big">登录/注册</a>
                        </div>
                        <div class="nav-menu">
                            <div class="menu-title">
                                <div class="user-head"><img src="assets/images/header.jpg" alt="头像"></div>                                
                                <i class="iconfont iconarrow-down-filling"></i>
                            </div>
                            <div class="menu-content">
                                <ul class="drop-menu">
                                    <li class="drop-item"><a href="#" class="item-link"><i class="iconfont iconbussiness-man"></i>个人中心</a></li>
                                    <li class="drop-item"><a href="#" class="item-link"><i class="iconfont iconcategory"></i>文章列表</a></li>
                                    <li class="drop-item"><a href="#" class="item-link"><i class="iconfont iconall"></i>我的资源</a></li>
                                    <li class="drop-item"><a href="#" class="item-link"><i class="iconfont icontuichudenglu"></i>退出登录</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="col-2 menu-item">
                        <div class="nav-menu">
                            <div class="menu-title">
                                <button class="btn btn-primary big">
                                    <i class="iconfont iconeditor1"></i>
                                    发布<i class="iconfont iconarrow-down-filling"></i>
                                </button>
                            </div>
                            <div class="menu-content">
                                <ul class="drop-menu">
                                    <li class="drop-item"><a href="#" class="item-link"><i class="iconfont iconbianjiwenzhang_huaban"></i>发布文章</a></li>
                                    <li class="drop-item"><a href="#" class="item-link"><i class="iconfont iconintegral"></i>发布资源</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>